body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a0657;
}

.container {
    background-color: #4393f5;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0);
    padding: 20px;
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-top: 15px;
    background-color: #3ee74f;
    color: #fff;
    border: none;
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e2e2e2;
}
